@media (min-width:700px) {



    header {
        background-image: url(photo/22.avif);
        height: 800px;
        width: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .on {
        align-items: start;
        justify-content: start;
        display: flex;
        width: 140px;
        padding: 30px;
        float: left;


    }

    .a {
        align-items: center;
        justify-content: center;
        display: flex;
        text-decoration: none;
        gap: 30px;

    }

    .s {
        text-decoration: none;
        color: white;
        font-size: larger;
    }

    .d {
        text-decoration: none;
        color: white;
        font-size: larger;
    }

    .f {
        text-decoration: none;
        color: white;
        font-size: larger;
    }

    .g {
        text-decoration: none;
        color: white;
        font-size: larger;
    }

    .one {
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        font-size: 60px;
    }

    .two {
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        font-size: 50px;
    }

    .three {
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        font-size: 50px;
    }

    .four {
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        font-size: 20px;
    }

    .five {
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        font-size: 20px;
    }

    .six {
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        font-size: 30px;
    }

    .seven {
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        font-size: 50px;

    }

    hr {
        width: 220px;
        color: blue;
    }

    body {

        background-color: #1D2D3D;

    }

    .chair1 {
        display: flex;
        align-items: stretch;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        color: #f0f0f0;
        gap: 70px;
    }

    .charming {
        color: gold;
        font-size: 45px;

    }

    .iframe {
        background-image: url(photo/iframe.avif);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100%;
        align-items: stretch;
        display: flex;
        color: white;
        gap: 50px;
        font-size: 25px;
    }

    .iframe1 {
        margin-left: 100px;
    }

    .simple {
        align-items: stretch;
        display: flex;
    }

    .sml {
        font-size: 25px;
    }


    .simple1 {
        color: white;
        margin: 20px;

    }

    .big {
        font-size: 70px;
    }

    .bigger {
        font-size: 65px;
    }

    .big1 {
        font-size: 35px;

    }

    .big7 {
        text-decoration: none;
        color: white;
    }

    .qr {
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 20px;

    }

    .qrr {
        font-size: large;
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
    }


    .qrrr {
        font-size: large;
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
    }


    .our1 {
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        text-decoration: none;
        font-size: 25px;
    }

    .our2 {
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        text-decoration: none;
        font-size: 22px;
    }

    .our3 {
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        text-decoration: none;
        font-size: 23px;
    }

    .our4 {
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        text-decoration: none;

    }

    .our5 {
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        text-decoration: none;

    }

    .our6 {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 90px;
        margin-left: 35px;
    }


    .logo77 {
        align-items: center;
        justify-content: center;
        display: flex;

    }



    .logo77 {
        display: flex;
        gap: 40px;
        margin: 100px;
    }


    .line {
        border-left: 1px solid orange;
        height: 400px;

        border-right: 1px solid orange;
        height: 400px;
    }

    .open {
        font-size: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
    }

    .open2 {

        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
    }

    .open3 {

        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
    }

    .open4 {
        font-size: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
    }

    .open5 {

        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
    }

}

@media (max-width:500px) {

    html,
    body {
        background-color: #1D2D3D;
        font-size: 16px;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    header {
        background-image: url(photo/22.avif);
        height: 60vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .on {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        padding: 20px 15px;
        float: none;
    }

    .a {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding-top: 10px;
    }

    .s,
    .d,
    .f,
    .g {
        text-decoration: none;
        color: white;
        font-size: 1rem;
    }

    .one {
        font-size: 8vw;
    }

    .two,
    .three,
    .seven {
        font-size: 6vw;
    }

    .four,
    .five {
        font-size: 2.5vw;
    }

    .six {
        font-size: 4vw;
    }

    hr {
        width: 220px;
        color: blue;
    }

    .chair1 {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 90%;
        max-width: 1200px;
        margin: 30px auto;
        color: #f0f0f0;
        gap: 30px;
    }

    .charming {
        color: gold;
        font-size: 10vw;
        text-align: center;
        width: 100%;
    }

    .iframe {
        background-image: url(photo/iframe.avif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        color: white;
        gap: 20px;
        font-size: 1.2rem;
        padding: 40px 0;
    }

    .iframe1 {
        margin-left: 5vw;
        width: 90%;
        order: 2;
        text-align: center;
    }

    .simple {
        width: 100%;
        align-items: stretch;
        display: flex;
        flex-direction: column;
        padding: 0 5vw;
        box-sizing: border-box;
    }

    .sml {
        font-size: 1.2rem;
    }

    .big {
        font-size: 10vw;
    }

    .bigger {
        font-size: 8vw;
    }

    .big1 {
        font-size: 5vw;
    }

    .big7 {
        text-decoration: none;
        color: white;
    }

    .qr {
        align-items: center;
        justify-content: center;
        display: flex;
        margin: 10px 0;
    }

    .qrr,
    .qrrr {
        font-size: 1rem;
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        text-align: center;
        padding: 5px;
    }

    .our1,
    .our2,
    .our3,
    .our4,
    .our5 {
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        text-decoration: none;
        font-size: 1rem;
        width: 100%;
        margin-bottom: 10px;
    }

    .our6 {
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        margin-left: 0;
    }

    .logo77 {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 50px 0;
        justify-content: center;
        align-items: center;
    }

    .line {
        display: none;
    }

    .open,
    .open4 {
        font-size: 1.1rem;
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        padding: 5px;
    }

    .open2,
    .open3,
    .open5 {
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
    }

    @media (max-width: 768px) {
        .chair1>* {
            width: 100%;
            margin-bottom: 20px;
        }

        .iframe {
            padding: 20px 0;
        }

        .iframe1 {
            margin-left: 0;
            width: 100%;
            order: 2;
        }

        .one,
        .two,
        .three,
        .four,
        .five,
        .six,
        .seven {
            text-align: center;
            padding: 5px 0;
        }

        .one {
            font-size: 10vw;
        }

        .bigger {
            font-size: 9vw;
        }
    }
}