header {

    background-image: url(photo/find\ us.jpg);
    height: 600px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}




.on {
    align-items: start;
    justify-content: start;
    display: flex;
    width: 140px;
    padding: 30px;
    float: left;


}

.a {
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    gap: 30px;

}

.s {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.d {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.f {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.g {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.one {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 60px;
}

.two {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 50px;
}

.three {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 50px;
}

.four {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 20px;
}

.five {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 20px;
}

.six {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 30px;
}

.seven {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 50px;

}

hr {
    width: 220px;
    color: blue;
}

body {

    background-color: #1D2D3D;

}

.chair1 {
    display: flex;
    align-items: stretch;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: #f0f0f0;
    gap: 70px;
}

.charming {
    color: gold;
    font-size: 45px;

}


.simple {
    align-items: stretch;
    display: flex;
}

.sml {
    font-size: 25px;
}


.simple1 {
    color: white;
    margin: 20px;

}

.big {
    font-size: 70px;
}

.bigger {
    font-size: 65px;
}

.big1 {
    font-size: 35px;

}

.big7 {
    text-decoration: none;
    color: white;
}

.qr {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 20px;

}

.qrr {
    font-size: large;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}


.qrrr {
    font-size: large;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}


.our1 {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.our2 {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.our3 {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    text-decoration: none;
    font-size: 23px;
}

.our4 {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    text-decoration: none;

}

.our5 {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    text-decoration: none;

}

.our6 {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 90px;
    margin-left: 35px;
}


.logo77 {
    align-items: center;
    justify-content: center;
    display: flex;

}



.logo77 {
    display: flex;
    gap: 40px;
    margin: 100px;
}


.line {
    border-left: 1px solid orange;
    height: 400px;

    border-right: 1px solid orange;
    height: 400px;
}

.open {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.open2 {

    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.open3 {

    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.open4 {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.open5 {

    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.tasty {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 30px;
}

.tasty2 {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 80px;
}

.tasty3 {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 90px;
}

.israel {
    align-items: center;
    justify-content: center;
    display: flex;
    color: orange;
    font-size: 60px;

}

.israel2 {
    align-items: center;
    justify-content: center;
    display: flex;
    color: orange;
    font-size: 60px;

}

.israel3 {
    align-items: center;
    justify-content: center;
    display: flex;
    color: orange;
    font-size: 60px;

}

.at {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.salad {
    margin: 100px;
    border: 3px solid orange;
    padding: 100px;
    width: 900px;
    height: 200px;
    align-items: stretch;
    display: flex;
    border-radius: 10px;
    position: absolute;
}

.chicken {
    color: orange;
    font-size: x-large;
}

.chicken2 {
    color: white;
}

.flavor {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: x-large;
}

.flavor2 {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 75px;
}

.main-flavor {
    align-items: stretch;
    display: flex;
}


.hum {
    color: orange;
    font-size: xx-large;
    margin-left: 90px;
}

.hum2 {
    color: white;
    margin-left: 100px;
    margin-left: 90px;
}

.mainn-flavor {
    align-items: stretch;
    display: flex;
}


.simply {

    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: x-large;
}

.find {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 90px;
}

.contact {
    color: white;
    margin-left: 150px;
    font-size: 40px;
}

.hours {
    color: white;
    font-size: 35px;
}

.main-contact {
    align-items: stretch;
    display: flex;
    gap: 500px;

}

.antoneli {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 30px;
    margin: 100px;
}

.if {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 200px;
    margin-left: 330px;
    border: 3px solid orange;
    padding: 92px;
    width: 500px;
    height: 270px;
    border-radius: 20px;
    
}